# === Carpetas que deben ser ignoradas ===
.github
node_modules
Jinwoosesion
tmp
jadibts
datasecret
backups/
plugins/backups/
src/libraries/backups/
lib/backups
actualizar.sh

# Ignorar archivo de clave
key.txt

# Ignorar claves locales
key.json

# Ignora plugin sensibles
plugins/supersecretlistener.js

# Ignora solo si pluginpilot es personal y no necesario para funcionar
pluginpilot

# === Archivos que deben ser ignorados ===
database.json
